@charset "UTF-8";
/*공용 부분*/
body {
	background-image:url('배경2.jpg');
	background-size:cover;
	margin: 0;
	height: 100vh;
    width: 100vw;
}

/*main화면 부분*/
.con1 {
	width: 500px;
	text-align: center;
	margin-top: 150px;
	margin-left: 530px;
    cursor: pointer;
}
.nav-container {
	display: flex;
	flex-direction: row;
	width: 100%; 
	height: 50px; 
	margin: 0;  
	padding: 0;  /*쓸 데 없는 공백 제거*/
	background-color: darkslategrey; 
	list-style-type: none; /*목록 기호 제거*/
	position: fixed;
	top: 0;
}
.nav-item {
	padding: 15px;
	font-size: 15px;
	cursor: pointer;
}
.nav-item:hover { /*마우스를 올렷을 때*/
	background-color:gray;
}

.nav-item a {
	text-align: center;
	text-decoration: none; /*밑줄 제거*/
	color: white;
}

.p {
	font-size:100px;
	color: #ff8000;
}

/*로그인 화면 부분*/
.login-main {
    padding: 10px;
    margin-top: 100px;
    margin-left: 500px;
    width: 500px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.logo {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.account {
    font-size: 1em;
    height:40px;
    width: 400px;
    display: block;
    margin-bottom: 3px;
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.button {
    font-size: 2em;
    margin-top:50px;
    height:55px;
    width:410px;
    background-color: lightskyblue;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover { /*마우스를 올렷을 때*/
	background-color:gray;
}
/*회원가입 부분 button, logo, hover 로그인css랑 같이 사용해서 따로 작성X*/
.register-main {
    padding: 10px;
    margin-top: 100px;
    margin-left: 500px;
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: gainsboro;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.tt {
    font-size: 1rem;
    color:red;
}

/* board 게시판 css */
.board-main {
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 260px;
    margin-bottom: 100px;
    width: 1000px;
    height: 750px;
}
.boardtable {
    border: 1px solid lightgrey;
    width: 850px;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 15px;
    text-align: center;
}
th {
    background-color: lightgray;
}
td {
    background-color: white;
}
.bt {
    width: 100px;
    margin-top: 0px;
    margin-left: 850px;
    font-size: 15px;
    justify-content: flex-end;
}
.bt a {
    text-decoration: none;
    color: black;
}
.nextbt {
	width: 80px;
	margin-top: 80px;
	margin-left: 80px;
	font-size: 15px;
    justify-content: flex-end;
}
.nextbt a {
	text-decoration: none;
    color: black;
}
.h1 {
	font-size: 45px;
	margin-left: 380px;
}

/* 글쓰기 css */
.write-main {
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 200px;
    width: 750px;
    height: 600px;
}
.headtext {
	margin-top: 40px;
	margin-left: 50px;
	height: 40px;
	width: 650px;
}
.htitle {
	height:40px;
	width:650px;
	font-size:30px;
}
.bodytext {
	background-color: lightgrey;
	margin-top: 20px;
	margin-left: 50px;
	height: 350px;
	width: 650px;
}
.bcontent {
	height: 350px;
	width: 650px;
	font-size:15px;
}
.select {
	margin-top: 20px;
	margin-left: 50px;
	font-size: 15px;
}
.butt {
	margin-top: 20px;
	margin-left:310px;
}
.custombut {
	margin:10px;
	font-size:20px;
}
.custombut a {
	text-decoration: none;
}

/* view css */
.view-main {
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 200px;
    width: 750px;
    height: 600px;
}
.viewtable {
    border: 1px solid lightgrey;
    width: 600px;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 15px;
    text-align: center;
}
.viewcustombut {
	
}
.viewcustombut a {
	text-decoration: none;
}